<div class="containenr">
  <div class="body">
    <cmp-input
      class="default"
      placeholder="ej: 234567890..."
      variant="default"
      [keyPressHandler]="findProduct()"
    ></cmp-input>

    <div class="content">
      <div class="invoice">
        <ul class="table-header">
          <li>
            <input class="selection" type="checkbox" />
            Nombre
          </li>
          <li>Código</li>
          <li>Cantidad</li>
          <li>Precio</li>
          <li>Total</li>
        </ul>

        <ul class="table-content">
          <li class="table-item" *ngFor="let content of table_content">
            <span>
              <input class="Selection" type="checkbox" />
              <p>{{content.name}}</p>
            </span>
            <p>{{content.barcode}}</p>
            <input type="number" />
            <p>{{content.detail.price}}</p>
            <p>{{content}}</p>
          </li>
        </ul>
      </div>

      <div class="ticket">
        <p>Ticket</p>
        <div class="sumary">
          <p>Brandon Fonseca</p>
          <p>Subtotal {{ 450 | currency : "C$" }}</p>
          <p>Descuento {{ 0.1 | percent }}</p>
        </div>
        <div class="amount">
          <p>Total</p>
          <p>{{ 405 | currency : "C$" }}</p>
        </div>
        <div class="controls">
          <button>Facturar</button>
          <button>Descartar</button>
        </div>
      </div>
    </div>
  </div>
</div>
