:root {
  --primary: #FFF;
  --secondary: #000066;
  --main-element: #0000FF;
  --highlight: #00A0F3;
  --font: #000000;
}


/*BEGIN sizing*/
/*END sizing*/

/*BEGIN Themes*/

.theme-light {
  --primary: #FFF;
  --secondary: #000066;
  --main-element: #0000FF;
  --highlight: #00A0F3;
  --font: #000;
}

.theme-dark {
  --primary: #212329;
  --secondary: #000;
  --main-element: #00A0F3;
  --highlight: #00A0F3;
  --font: #000;
}

/*END Themes*/

.title {
  font-size: larger;
  font-weight: bolder;
  border-bottom: solid 1px;
  text-align: left;
}

.f-w-center {
  justify-content: center;
}

.center-h-auto {
  margin-inline: auto;
}

.center-v-auto {
  margin-block: auto;
}

body {
  margin: 0px;
}
